
  body {
    background-color: rgb(243, 243, 244)
  }

  section{
    height: 97%;
  }

.container {
    text-align: center;
    margin-top: 50px;
  }
  
  input[type="text"] {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border: rgb(32, 33, 37) 0.5px solid;
  }
  
  #barcode{
    width: 300px;
    margin: 30px auto;
    background-color: white;
    
  }
  .button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(32, 33, 37);
    color: white;
    border: none;
    cursor: pointer;
  }

  footer {
    height: 3%;
  }

  .footer{
    margin: 0 auto;
  }
  