
body {
    background-color: rgb(243, 243, 244);
  }

.container {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    margin-top: 50px;
  }
  
  input[type="text"] {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border: rgb(32, 33, 37) 0.5px solid;
  }
  
  #barcode{
    width: 300px;
    margin: 30px auto;
    background-color: white;
  }

  .button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(32, 33, 37);
    color: white;
    border: none;
    cursor: pointer;

  }


  #footer{
    left: 0;
    bottom: 0;
    margin-top: 10%;
    height: 10%;
    width: 100%;
    text-align: center;

  }
  
  .footer-text{
    margin: auto;
    color:  rgb(151, 151, 157);
    display: inline-block;
  }

  .footer-a{
    text-decoration: none;
    color: rgb(0, 0, 0);

  }
